.float{
	height: 364px;
	position: absolute;
	z-index: 9999999999;
	background: white;
	top: 160px;
	/* vertical-align: middle; */
	left: 50px;
	width: 281px;
	border: 1px solid #cccccc;
}

.float h3{
color:#9b59b6;
font-size: 22px;
padding:10%;
text-align: center;
font-weight: 800;

}
.float p{
color:#9099A5;	
font-size: 14px;
padding:0 10% 10% 10%;
font-weight: 600;
}


.lcl{
padding: 0 10%;
}

.float a{

font-size: 14px;
color:#9b59b6;
font-style: italic;
}



.float a:hover{
color:#9099A5;
text-decoration: none;	
}

.float .bttn{
padding:10%;
text-align: center;	
}

#dnr{
background-color: #9b59b6;
color:white;
}
#dnr:hover{
background-color:white;
color:#9b59b6;
}





.navbar-nav li a{
font-weight:bold;
color:#667D98!important;
font-size: 13px!important;
}
.navbar-nav li a:hover{
opacity: 0.5!important;
}




.login {
    width: 300px;
    position: absolute;
    right: -100%;
    background-color: white;
    height: calc(100vh - 76px);
    z-index: 999;
    top: 76px;
    border-left: 1px solid #cccccc;
    padding: 25px 20px;
}


.login form{

padding-top: 40px;
padding-bottom: 30px;

}

.fb-login-button{
	padding-top: 30px;
}



.face{
	padding-top: 10px;
	padding-bottom: 40px;
	text-align: center;
}



.login a {
font-size: 14px;
color:#26AD5F!important;
font-style: italic;
}

.login a:hover {
color:#9099A5!important;
text-decoration: none;	
}

.ini_ses{
padding-top: 30px;
padding-bottom: 30px;

}