/*ventana flotnte sin sesion*/
.float{
	height: 400px;
	position: absolute;
	z-index: 1;
	background: white;
	top: 145px;
	left: 50px;
	width: 281px;
	border: 1px solid #cccccc;
}

.float h3{
	color: #22205F;
	font-size: 22px;
	padding: 10%;
	text-align: center;
	font-weight: 800;
}

.float p{
	color:#9099A5;	
	font-size: 14px;
	padding:0 10% 10% 10%;
	font-weight: 600;
}


.lcl{
	padding: 0 10%;
}

.float a{

	font-size: 14px;
	color:#22205F;
	font-style: italic;
}



.float a:hover{
	color:#9099A5;
	text-decoration: none;	
}

.float .bttn{
	padding:10%;
	text-align: center;	
}

#dnr{
	background-color: #22205F;
	color:white;
}
#dnr:hover{
	background-color:white;
	color:#22205F;
}

/*ventana flotante incio sesion*/
<<<<<<< HEAD

.float2{
	height: 301px;
	position: absolute;
	z-index: 1;
	background: white;
	top: 145px;
	left: 50px;
	width: 281px;
	border: 1px solid #cccccc;
}

.float2 h3{
	color: #22205F;
	font-size: 22px;
	padding: 10%;
	text-align: center;
	font-weight: 800;
}

.float2 p{
	color:#9099A5;	
	font-size: 14px;
	padding:0 10% 10% 10%;
	font-weight: 600;
}


.lcl{
	padding: 0 10%;
}

.float2 a{

	font-size: 14px;
	color:#22205F;
	font-style: italic;
}



.float2 a:hover{
	color:#9099A5;
	text-decoration: none;	
}

.float2 .bttn{
	padding:10%;
	text-align: center;	
}

#dnr{
	background-color: #22205F;
	color:white;
}
#dnr:hover{
	background-color:white;
	color:#22205F;
}

=======
>>>>>>> d5910d1d51c24cee9fe7657da224b4101ffe0c62

.float2{
	height: 301px;
	position: absolute;
	z-index: 1;
	background: white;
	top: 145px;
	left: 50px;
	width: 281px;
	border: 1px solid #cccccc;
}

.float2 h3{
	color: #22205F;
	font-size: 22px;
	padding: 10%;
	text-align: center;
	font-weight: 800;
}

.float2 p{
	color:#9099A5;	
	font-size: 14px;
	padding:0 10% 10% 10%;
	font-weight: 600;
}


.lcl{
	padding: 0 10%;
}

.float2 a{

	font-size: 14px;
	color:#22205F;
	font-style: italic;
}



.float2 a:hover{
	color:#9099A5;
	text-decoration: none;	
}

.float2 .bttn{
	padding:10%;
	text-align: center;	
}

#dnr{
	background-color: #22205F;
	color:white;
}
#dnr:hover{
	background-color:white;
	color:#22205F;
}



.navbar-nav li a{
	font-weight:bold;
	color:white!important;
	font-size: 13px!important;
}
.navbar-nav li a:hover{
	opacity: 0.5!important;
}




.login {
	width: 300px;
	position: absolute;
	right: -100%;
	background-color: white;
	height: calc(100vh - 60px);
	z-index: 999;
	top: 60px;
	border-left: 1px solid #cccccc;
	padding: 25px 20px;
}


.login form{
	padding-top: 25px;
	padding-bottom: 30px;

}

.fb-login-button{
	padding-top: 30px;
}



.face{
	padding-top: 10px;
	padding-bottom: 40px;
	text-align: center;
}



.login a {
	font-size: 14px;
	color:#26AD5F!important;
	font-style: italic;
}

.login a:hover {
	color:#9099A5!important;
	text-decoration: none;	
}

.ini_ses{
	padding-top: 30px;
	padding-bottom: 30px;

}


/* EDICION POPUP MARCADOR */

#map > div > .gm-style > div:nth-child(1) > div:nth-child(4) > div:nth-child(4) > div > .gm-style-iw{ /* IMAGEN*/
	top: 0 !important;
	left: 0 !important;
	width: 453px !important;
}

#map > div > .gm-style > div:nth-child(1) > div:nth-child(4) > div:nth-child(4) > div > div:nth-child(1) > div:nth-child(4){ /* TAMAÑO DE VENTANA*/
	height: 158px !important;
}

#map > div > .gm-style > div:nth-child(1) > div:nth-child(4) > div:nth-child(4) > div > div:nth-child(1) > div:nth-child(2){ /* TAMAÑO DE SOMBRA*/
	height: 160px !important;	
}

#map > div > .gm-style > div:nth-child(1) > div:nth-child(4) > div:nth-child(4) > div > div:nth-child(1) > div:nth-child(3), #map > div > .gm-style > div:nth-child(1) > div:nth-child(4) > div:nth-child(4) > div > div:nth-child(1) > div:nth-child(1){
	display: none !important;
}

#contenedor-marcador{
	clear: both;
	height: 160px;
}

#padre-imagen, #padre-texto{
	float: left;
}

#contenedor-texto{
	width: 200px;
	padding-left: 10px;
}

#contenedor-texto h1, #contenedor-texto h2, #contenedor-texto h3{
	font-family: Open Sans;
	font-weight: 700
}

#contenedor-texto h1{
	font-size: 13px;
	color: #474747;
	margin-top: 35px;
	margin-bottom: 5px;
}

#contenedor-texto h2{
	font-size: 12px;
	color: #108CFF;
	margin-top: 0px;
	margin-bottom: 10px;
}

#contenedor-texto h3{
	font-size: 11px;
	color: #B8BABF;
	margin-bottom: 15px;
	margin-top: 0px;
}

#contenedor-leer{
	position: absolute;
	width: 252px;
	bottom: 4px;
	left: 200px;
	height: 25px;
	background-color: #108CFF;
	display: flex;
	justify-content: center;
	align-content: center;
	flex-direction: column;
}

#contenedor-leer > div{
	text-align: right;
	padding-right: 30px;
	color: white;
	font-size: 10px;
	font-family: Open Sans;
}

/* BACKEND */

.container-fluid{
	padding: 0px !important;
}
aside{
	height: calc(100vh - 60px);
	float: left;
	width: 260px;
	background-color: rgb(67,89,112);
	color: white;
}

.padre-contenido{
	width: calc(100% - 260px);
	float: left;
	height: calc(100vh - 60px);
}

aside ul{
	padding: 0px;
	padding-top: 70px;
}

aside ul a:focus{
	outline: none;
	color: white;
	text-decoration: none;
}

aside ul .li-active li{
	background-color: rgb(56,74,94);
}

aside ul .li-active {
	color: white;
	text-decoration: none;
}

aside ul li{
	width: 100%;
	padding: 10px 25px;
	background-color: rgb(67,89,112);
	transition: background-color .5s;
	position: relative;
	z-index: 3;
}

aside ul li:hover{
	background-color: rgb(56,74,94);
	transition: background-color .5s;
}

aside ul li:nth-child(1), aside ul li:nth-child(2){
	border-bottom: 1px solid rgb(56,74,94);
}

aside ul a, aside ul a:hover{
	color: white;
	text-decoration: none;
}

aside .imagen-footer{
	position: fixed;
	bottom: 0px;
	width: 260px;
	text-align: center;
	padding-bottom: 40px;
}

.header-aside{
	min-height: 60px !important;
	border: 0px solid !important;
	background-color: rgb(44,62,80) !important;
}

.header-aside ul{
	padding: 0 90px 0 0;
}

.header-aside .navbar-brand{
	height: 60px;
	padding: 0px 15px;
}

.header-aside .navbar-brand>img{
	height: 40px;
}

.header-aside .navbar-nav>li{
	height: 60px;
}

.padre-contenido{
	background-color: rgb(236,240,241);
}

.contenedor-contenido{
	margin: 40px 60px;
	background-color: rgb(236,240,241);
	margin-right: 105px;
	overflow: hidden;
}

.contenedor-contenido h1{
	font-size: 26px;
	font-weight: 400;
	letter-spacing: -1px;
	color: rgb(44,62,80);	
}

.separador{
	width: 100%;
	height: 1px;
	background-color: rgb(44,62,80);
	margin-bottom: 25px;
}

.contenedor-contenido label{
	padding-left: 10px;
	color: #ccc;
	font-weight: 400;
}

.contenedor-contenido input{
	border: 0px;
	background-color: rgb(245, 247, 248);
	box-shadow: none;
}

textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus{
	box-shadow: none !important;
}

.background-opciones{
	background-color: white;
	padding: 25px 20px 25px 20px;
	float: left;
	width: 100%;
	position: relative;
	z-index: 2;
}

.boton-enviar{
	background-color: rgb(52,152, 219);
	border-color: rgb(52,152, 219);
	padding: 8px 50px;
	color: white;
	border-radius: 0px;
	font-size: 22px;
	margin-top: 10px;
}

.boton-enviar:hover{
	color: rgb(52,152, 219);
	background-color: white;
	border-color: rgb(52,152, 219);
}

.table th{
	background-color: #2ecc71;
	color: white;
	border: none;
}

.table td{
	border: 1px solid #f5f7f8;
	color: rgb(44,62,80);
}

.table-hover>tbody>tr:hover{
	background-color: rgb(67,89,112);
	color: white;

}
.table-hover>tbody>tr:hover td{
	border-right: 0px;
	color: white;
}

.table>tbody>tr>td{
	border-top: 0px;
	border-bottom: 1px;
}

.cuadro-busqueda{
	height: auto;
	clear: both;
	float: left;
	width: 100%;
	padding-top: 50px;
}

.cuadro-busqueda input{
	height: 32px;
	border: 1px solid rgb(44,62,80);
	background-color: white;
}

.texto-resultados p{
	margin: 0px;
	font-size: 12px;
	margin-top: 8px;
	color: rgb(44,62,80);
	font-weight: 700;
}

.busqueda-numeros{
	float: right;
}

.busqueda-numeros a{
	float: left;
	text-decoration: none;
}

.boton-numeros{
	padding: 5px 25px;
}

.boton-numeros p{
	margin: 0px;
}

.busqueda-numeros a{
	border: 1px solid rgb(44,62,80);
	border-right: 0px;
}

.busqueda-numeros a:last-child{
	border-right: 1px solid rgb(44,62,80);
}

.busqueda-numeros .numeros{
	padding: 5px 10px;
	color: rgb(44,62,80);
}

.boton-numeros{
	color: rgb(44,62,80);
}

.busqueda-numeros a:hover{
	background-color: rgb(44,62,80);
}

.busqueda-numeros a:hover p, .busqueda-numeros a:hover .numeros{
	color: white;
}

.busqueda-numeros .boton-deshabilitado{
	color: #ccc;
}

.busqueda-numeros a:hover .boton-deshabilitado p{
	color: #ccc !important;
}

.busqueda-numeros a:hover .boton-deshabilitado{
	background-color: white !important;
	color: #ccc !important;
}

.numero-activo,.numero-activo:hover{
	background-color: #2ecc71 !important;
}

.busqueda-numeros .numero-activo .numeros, .busqueda-numeros .numero-activo:hover .numeros{
	color: white !important;
}

#crear-usuario{
	right: -100%;
}

#ultimos-movimientos{
	top: -393px;
}

#menu-becarios{
	top: 10px;
}

.contenedor-contenido .active{
	background-color: white;
}

.nav-tabs>li>a{
	border-radius: 0px;
}

.nav-tabs>li>a, .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
	transition: border .3s;
}

.nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus{
	background-color: transparent !important;
}

aside .nav>li>a:focus, aside .nav>li>a:hover{
	text-decoration: none;
	color: white !important;
	background-color: rgb(44,62,80) !important;
}

.contenedor-titulo, .informacion-obtenida{
	width: 100%;
	float: left;
}

.columna-busqueda-dni, .monto-ingreso, .dni-search .boton-buscar{
	width: 100%;
}

.dni-search{
	padding-bottom: 20px;
	width: 100%;
    float: left;
}

.contenedor-info-becario{
    background: rgb(245, 247, 248);
    padding: 20px;
}

@media (min-width: 768px){
	.header-aside >.container .navbar-brand, .header-aside >.container-fluid .navbar-brand {
		margin-left: 10px;
	}
}